@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
@font-face {
  font-family: "metric-black";
  src: url('../fonts/metric-black.woff2') format('woff2');
}

* {
  margin: 0;
  font-family: "metric-black"; 
  color: #fff;
  background-color: #ad6bef;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid;
}

.navbar h1 {
  font-size: 2rem;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}